*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(112, 112, 226);

}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1{
    width: 100vdw;
    margin: 24px ;
}

img{
    width: 450px;
    height: auto;
    margin-bottom: 24px;
    padding: 8px;
    background-color: aliceblue;
}

a{
    text-decoration: none;
    color: rgb(94, 94, 200);
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
    padding: 16px;
    border-radius: 16px;
    width: 200px;
    margin: 8px;
    background-color: aliceblue;
}
 
li:hover{
    background-color: rgb(200, 230, 255);
}